/* Ajax Loading Styles */
/*---------------------*/
.ajaxLoading {
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  background-color: hsl(var(--bg-color-two));
  box-shadow: var(--card-shadow);
  padding: 3px;
  border-radius: 50%;

  @include appDir() {
    #{dirs(left, right)}: 20px;
  }

  span {
    display: block;
    height: 29px;
    width: 29px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent hsl(var(--main-color-one));
    border-radius: 50%;

    @include appDir() {
      animation: dirs(
        spinner-left 0.6s linear infinite,
        spinner-right 0.6s linear infinite
      );
    }
  }
}
