<div class="section section--stats" ref="statsSection">

  <!-- section content -->
  <div class="section__content section__content--stats">
    <div class="container">
      <div class="statsSC">
        <!-- square shapes -->
        <div class="statsSC__shapes">
          <div class="statsSC__shapes__square"></div>
          <div class="statsSC__shapes__square"></div>
          <div class="statsSC__shapes__square"></div>
          <div class="statsSC__shapes__square"></div>
        </div>

        <!-- statistics list -->
        <ul class="statsSC__statsList row" ref="statsList">
          <li class="statsSC__statsList__item col-md-6 col-lg-3">
            <strong class="statsSC__statsList__item__count" data-count="745">0</strong>
            <strong class="statsSC__statsList__item__title">${{ index.homepage.statistics.stepsList.i1.title }}$</strong>
          </li>
          <li class="statsSC__statsList__item col-md-6 col-lg-3">
            <strong class="statsSC__statsList__item__count" data-count="23">0</strong>
            <strong class="statsSC__statsList__item__title">${{ index.homepage.statistics.stepsList.i2.title }}$</strong>
          </li>
          <li class="statsSC__statsList__item col-md-6 col-lg-3">
            <strong class="statsSC__statsList__item__count" data-count="12074">0</strong>
            <strong class="statsSC__statsList__item__title">${{ index.homepage.statistics.stepsList.i3.title }}$</strong>
          </li>
          <li class="statsSC__statsList__item col-md-6 col-lg-3">
            <strong class="statsSC__statsList__item__count" data-count="16">0</strong>
            <strong class="statsSC__statsList__item__title">${{ index.homepage.statistics.stepsList.i4.title }}$</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>