<section class="section section--steps">

  <!-- section title -->
  <div class="section__title">
    <div class="container">
      <h2 class="section__title__heading">
        <span class="section__title__leading">${{ index.homepage.steps.title.leading }}$</span>
        <span class="section__title__tagline">${{ index.homepage.steps.title.tagline }}$</span>
      </h2>
    </div>
  </div>

  <!-- section content -->
  <div class="section__content section__content--steps">
    <div class="container">
      <div class="stepsSC">
        <ul class="stepsSC__stepsList row">
          <li class="stepsSC__stepsList__item col-md-6 col-lg-3">
            <div class="stepsSC__stepsList__imgBox" data-index="${{ index.numbers.0 }}$${{ index.numbers.1 }}$">
              <img class="stepsSC__stepsList__img" loading="lazy" src="assets/images/steps/steps-1.jpg" data-placeholder="180"
                alt="${{ index.homepage.steps.content.stepsList.i1.heading }}$">
            </div>
            <div class="stepsSC__stepsList__contentText">
              <h3 class="stepsSC__stepsList__heading">${{ index.homepage.steps.content.stepsList.i1.heading }}$</h3>
              <p class="stepsSC__stepsList__desc">${{ index.homepage.steps.content.stepsList.i1.desc }}$</p>
            </div>
          </li>
          <li class="stepsSC__stepsList__item col-md-6 col-lg-3">
            <div class="stepsSC__stepsList__imgBox" data-index="${{ index.numbers.0 }}$${{ index.numbers.2 }}$">
              <img class="stepsSC__stepsList__img" loading="lazy" src="assets/images/steps/steps-2.jpg" data-placeholder="180"
                alt="${{ index.homepage.steps.content.stepsList.i2.heading }}$">
            </div>
            <div class="stepsSC__stepsList__contentText">
              <h3 class="stepsSC__stepsList__heading">${{ index.homepage.steps.content.stepsList.i2.heading }}$</h3>
              <p class="stepsSC__stepsList__desc">${{ index.homepage.steps.content.stepsList.i2.desc }}$</p>
            </div>
          </li>
          <li class="stepsSC__stepsList__item col-md-6 col-lg-3">
            <div class="stepsSC__stepsList__imgBox" data-index="${{ index.numbers.0 }}$${{ index.numbers.3 }}$">
              <img class="stepsSC__stepsList__img" loading="lazy" src="assets/images/steps/steps-3.jpg" data-placeholder="180"
                alt="${{ index.homepage.steps.content.stepsList.i3.heading }}$">
            </div>
            <div class="stepsSC__stepsList__contentText">
              <h3 class="stepsSC__stepsList__heading">${{ index.homepage.steps.content.stepsList.i3.heading }}$</h3>
              <p class="stepsSC__stepsList__desc">${{ index.homepage.steps.content.stepsList.i3.desc }}$</p>
            </div>
          </li>
          <li class="stepsSC__stepsList__item col-md-6 col-lg-3">
            <div class="stepsSC__stepsList__imgBox" data-index="${{ index.numbers.0 }}$${{ index.numbers.4 }}$">
              <img class="stepsSC__stepsList__img" loading="lazy" src="assets/images/steps/steps-4.jpg" data-placeholder="180"
                alt="${{ index.homepage.steps.content.stepsList.i4.heading }}$">
            </div>
            <div class="stepsSC__stepsList__contentText">
              <h3 class="stepsSC__stepsList__heading">${{ index.homepage.steps.content.stepsList.i4.heading }}$</h3>
              <p class="stepsSC__stepsList__desc">${{ index.homepage.steps.content.stepsList.i4.desc }}$</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>