<section id="places-section" class="section section--places">

  <!-- section title -->
  <div class="section__title">
    <div class="container">
      <h2 class="section__title__heading">
        <span class="section__title__leading">${{ index.homepage.places.title.leading }}$</span>
        <span class="section__title__tagline">${{ index.homepage.places.title.tagline }}$</span>
      </h2>
    </div>
  </div>

  <!-- section content -->
  <div class="section__content section__content--places">
    <div class="container">
      <div class="placesSC">
        <ul class="placesSC__placesList row">
          <li class="placesSC__placesList__item col-md-6 col-lg-7">
            <a class="placesSC__placesList__link" href="${{ index.prefix }}$properties.html" title="${{ index.homepage.places.content.placesList.i1 }}$">
              <img class="placesSC__placesList__img" loading="lazy" src="assets/images/places/places-1.jpg" data-placeholder="740x350"
                alt="${{ index.homepage.places.content.placesList.i1 }}$">
              <div class="placesSC__placesList__contentText">
                <h3 class="placesSC__placesList__heading">${{ index.homepage.places.content.placesList.i1 }}$</h3>
                <p class="placesSC__placesList__count">${{ index.numbers.8 }}$ ${{ index.homepage.places.content.properties }}$</p>
              </div>
            </a>
          </li>
          <li class="placesSC__placesList__item col-md-6 col-lg-5">
            <a class="placesSC__placesList__link" href="${{ index.prefix }}$properties.html" title="${{ index.homepage.places.content.placesList.i2 }}$">
              <img class="placesSC__placesList__img" loading="lazy" src="assets/images/places/places-2.jpg" data-placeholder="525x350"
                alt="${{ index.homepage.places.content.placesList.i2 }}$">
              <div class="placesSC__placesList__contentText">
                <h3 class="placesSC__placesList__heading">${{ index.homepage.places.content.placesList.i2 }}$</h3>
                <p class="placesSC__placesList__count">${{ index.numbers.6 }}$ ${{ index.homepage.places.content.properties }}$</p>
              </div>
            </a>
          </li>
          <li class="placesSC__placesList__item col-md-6 col-lg-4">
            <a class="placesSC__placesList__link" href="${{ index.prefix }}$properties.html" title="${{ index.homepage.places.content.placesList.i3 }}$">
              <img class="placesSC__placesList__img" loading="lazy" src="assets/images/places/places-3.jpg" data-placeholder="415x350"
                alt="${{ index.homepage.places.content.placesList.i3 }}$">
              <div class="placesSC__placesList__contentText">
                <h3 class="placesSC__placesList__heading">${{ index.homepage.places.content.placesList.i3 }}$</h3>
                <p class="placesSC__placesList__count">${{ index.numbers.4 }}$ ${{ index.homepage.places.content.properties }}$</p>
              </div>
            </a>
          </li>
          <li class="placesSC__placesList__item col-md-6 col-lg-4">
            <a class="placesSC__placesList__link" href="${{ index.prefix }}$properties.html" title="${{ index.homepage.places.content.placesList.i4 }}$">
              <img class="placesSC__placesList__img" loading="lazy" src="assets/images/places/places-4.jpg" data-placeholder="415x350"
                alt="${{ index.homepage.places.content.placesList.i4 }}$">
              <div class="placesSC__placesList__contentText">
                <h3 class="placesSC__placesList__heading">${{ index.homepage.places.content.placesList.i4 }}$</h3>
                <p class="placesSC__placesList__count">${{ index.numbers.5 }}$ ${{ index.homepage.places.content.properties }}$</p>
              </div>
            </a>
          </li>
          <li class="placesSC__placesList__item col-md-6 col-lg-4">
            <a class="placesSC__placesList__link" href="${{ index.prefix }}$properties.html" title="${{ index.homepage.places.content.placesList.i5 }}$">
              <img class="placesSC__placesList__img" loading="lazy" src="assets/images/places/places-5.jpg" data-placeholder="415x350"
                alt="${{ index.homepage.places.content.placesList.i5 }}$">
              <div class="placesSC__placesList__contentText">
                <h3 class="placesSC__placesList__heading">${{ index.homepage.places.content.placesList.i5 }}$</h3>
                <p class="placesSC__placesList__count">${{ index.numbers.7 }}$ ${{ index.homepage.places.content.properties }}$</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>