/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:    Jaber - Real Estate HTML Template
Version:    1.0.0
Created:    05/2022

1.  Color Codes
    ------------------------------
    1.  Primary Color
    2.  Secondary Color
    3.  Light Color
    4.  Dark Color
    5.  Success Color
    6.  Info Color
    7.  Warning Color
    8.  Danger Color
    ------------------------------

2.  Fonts Family
    ------------------------------
    1.  Headings Font
    2.  Body Font
    ------------------------------

3.  Buttons Styles
    ------------------------------

4.  Animations
    ------------------------------
    1.  Fade Effects
    2.  Spinner Effects
    3.  Slide Effects
    4.  Pulse Effects
    ------------------------------

5.  Global & Reset Styles
    ------------------------------

6.  UI Styles
    ------------------------------
    1.  Breadcrumbs
    2.  Pagination
    3.  Lists
    4.  Rating Control
    5.  Rating Score
    6.  Blockquote
    7.  Dropcaps
    8.  Positive & Negative Marks
    9.  Sections
    10. Forms
    11. Mode Switcher
    12. Leaflet Custom Styles
    13. Dropdown
    14. Property Item
    15. Agent Item
    16. Blog Item
    ------------------------------

7.  Components Styles
    ------------------------------
    1.  Custom Scrollbar
    2.  Ajax Loading
    3.  Toast Notifications
    4.  Circle Cursor
    5.  Preloader
    6.  Skip Links
    7.  Header
    8.  Hamburger Button
    9.  Navigation Menu
    10. Inner Pages Header
    11. Blog Sidebar
    12. Filter Sidebar
    13. User Sidebar
    14. Compare Properties
    15. Footer
    ------------------------------

8.  Pages Styles
    ------------------------------
    1.  Homepage
    2.  Properties Page
    3.  Property Details Page
    4.  Compare Properties Page
    5.  Agents Page
    6.  Agent Details Page
    7.  Reviews Page
    8.  User Dashboard Page
    9.  User Profile Page
    10. User Add Property Page
    11. About us Page
    12. Contact us Page
    13. News Page
    14. News Details Page
    15. Sign In & Up Pages
    16. 404 Page
    ------------------------------

*********************************************************************************************/
